<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DigiHumanitiesPlatform{% endblock %}</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">DigiHumanitiesPlatform</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.about') }}">关于我们</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.search_raw_data') }}">搜索原始文本</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.search_corrupt_sentence_route') }}">搜索修复标注示例</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.search_entity_sentences_route') }}">查询实体原始句子</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('kg_routes.show_subgraph') }}">展示知识图谱子图</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{{ url_for('relation_routes.search_relation_sentences_route') }}">查询关系原始句子</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>