<!-- app/templates/index.html -->

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>DigiHumanities Platform</title>
</head>

<body>
    <h1>欢迎来到数字人文平台</h1>
    <h1>欢迎来到数字人文平台</h1>
    <nav>
        <a href="{{ url_for('main.index') }}">主页</a> |
        <a href="{{ url_for('main.about') }}">关于我们</a> |
        <a href="{{ url_for('main.search_raw_data') }}">搜索原始文本</a> |
        <a href="{{ url_for('main.search_corrupt_sentence_route') }}">搜索修复标注示例</a> |
        <a href="{{ url_for('main.search_entity_sentences_route') }}">查询实体原始句子</a>
        <a href="{{ url_for('kg_routes.show_subgraph') }}">展示知识图谱子图</a>
        <a href="{{ url_for('relation_routes.search_relation_sentences_route') }}">查询关系原始句子</a>
    </nav>
</body>

</html>